// Fonts
$mainFont: 'Roboto', sans-serif;
$secondFont: 'Montserrat', sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$mainColor: #373741;
$gray-f9: #F9F7F7;
$purple: #5C1F70;
$orange: #FF773F;
$light-blue: #00AEEF;
