.header {
	width: 100%;
	height: 100px;
	background-color: $mainColor;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 21;

	@include mMax {
		background-color: transparent;
	}

	&__container,
	&__left {
		display: flex;
		align-items: center;
	}

	&__container {
		justify-content: space-between;
		padding: 20px 0;
		position: unset;

		@include tMax {
			padding: 13px 11px;
		}

		@include mMax {
			align-items: flex-start;
		}
	}

	&__right {
		@include mMax {
			padding-top: 7px;
		}
	}

	&__logo {
		width: 134px;
		height: 60px;
		margin-right: 166px;

		@include tMax {
			margin-right: 50px;
		}

		@include mMax {
			width: 91px;
			height: 40px;
			margin-right: 30px;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__burger {
		display: none;
		width: 23px;
		height: 17px;
		cursor: pointer;

		@include tMax {
			display: block;
		}

		span {
			display: block;
			width: 100%;
			height: 3px;
			background-color: $white;
			position: relative;
			top: 0;
			left: 0;

			&::before,
			&::after {
				content: '';
				display: block;
				height: 3px;
				background-color: $white;
				position: absolute;
				left: 0;
			}

			&::before {
				width: 75%;
				bottom: -7px;
			}

			&::after {
				width: 45%;
				bottom: -14px;
			}
		}
	}

	&__phone {
		font-size: 20px;
		line-height: 28px;
		font-weight: bold;
		color: $white;
		@include transition(opacity);

		@include hover {
			opacity: 0.5;
		}

		@include mMax {
			font-size: 15px;
			line-height: 21px;
			font-weight: 500;
		}
	}

	&__socials {
		display: none;

		@include mMax {
			display: flex;
			margin-top: 13px;
		}

		.socials__item {
			height: 17px;

			+ .socials__item {
				margin-left: 13px;
			}

			a {
				svg {
					width: 17px;
					height: 17px;
				}
			}
		}
	}
}