.sidebar {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 70px;
	height: 100%;
	padding: 100px 0 52px;
	background-color: $mainColor;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	box-sizing: border-box;

	@include mMax {
		display: none;
	}

	@media (max-height: 500px) {
		min-height: 120vh;
	}
}