section.advantages
	.container.advantages__container
		.advantages__row
			.advantages__item.advantages__item--purple(data-aos='fade-down')
				+icon('advantage-1')(width='52', height='55')
				.advantages__item-text
					p 1089+
					p Выполненных заказов
			.advantages__item.advantages__item--orange(data-aos='fade-down', data-aos-delay='300')
				+icon('advantage-2')(width='52', height='55')
				.advantages__item-text
					p 1089+
					p Выполненных заказов
			.advantages__item.advantages__item--blue(data-aos='fade-down', data-aos-delay='600')
				+icon('advantage-3')(width='41', height='56')
				.advantages__item-text
					p 1089+
					p Выполненных заказов