section.advantages-text
	.advantages-text__row
		.advantages-text__item
			.advantages-text__title Цифры
			.advantages-text__text Психологическая среда подсознательно синхронизирует социометрический процесс стратегического планирования.
				|  Диверсификация бизнеса переворачивает связанный имидж.
		.advantages-text__item
			.advantages-text__title Гарантии
			.advantages-text__text Психологическая среда подсознательно синхронизирует социометрический процесс стратегического планирования.
				|  Диверсификация бизнеса переворачивает связанный имидж.
		.advantages-text__item
			.advantages-text__title Принципы
			.advantages-text__text Психологическая среда подсознательно синхронизирует социометрический процесс стратегического планирования.
				|  Диверсификация бизнеса переворачивает связанный имидж.