.content
	.content__title Почему мы?
	.content__subtitle Почему мы?
	.content__text
		p Психологическая среда подсознательно синхронизирует <br> социометрический процесс стратегического планирования.
			|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
		p Психологическая среда подсознательно синхронизирует <br> социометрический процесс стратегического планирования.
			|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
		p Психологическая среда подсознательно синхронизирует <br> социометрический процесс стратегического планирования.
			|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.