section.contacts
	.container
		.contacts__row
			.contacts__map
				iframe(src='https://yandex.ru/map-widget/v1/-/CCU4YHDfdC' allowfullscreen='true' style='position:relative;' frameborder='1')
			.content.contacts__content
				.content__title Контакты
				.content__subtitle Почему мы?
				.content__text
					p Психологическая среда подсознательно синхронизирует <br> социометрический процесс стратегического планирования.
						|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
					p Психологическая среда подсознательно синхронизирует <br> социометрический процесс стратегического планирования.
						|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
					p Психологическая среда подсознательно синхронизирует <br> социометрический процесс стратегического планирования.
						|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.