section.description
	.container
		.description__title Как подготовить файл к печати
		.description__subtitle Как подготовить файл к печати
		.description__row
			.description__text
				p Психологическая среда подсознательно синхронизирует социометрический процесс стратегического планирования.
					|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
				p Психологическая среда подсознательно синхронизирует социометрический процесс стратегического планирования.
					|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
				p Психологическая среда подсознательно синхронизирует социометрический процесс стратегического планирования.
					|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
			.description__text
				p Психологическая среда подсознательно синхронизирует социометрический процесс стратегического планирования.
					|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
				p Психологическая среда подсознательно синхронизирует социометрический процесс стратегического планирования.
					|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
				p Психологическая среда подсознательно синхронизирует социометрический процесс стратегического планирования.
					|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
		.description__text
			p Психологическая среда подсознательно синхронизирует социометрический процесс стратегического планирования.
				|  Диверсификация бизнеса переворачивает связанный имидж. Спонсорство позитивно притягивает SWOT-анализ.
				|  Спонсорство позитивно притягивает SWOT-анализ.