section.feedback
	.container
		.feedback__text Есть идея? Поможем с <br> воплощением
		form.form.form--dark.feedback__form.js-form-validate(action="php/mail.php", method="post")
			label.form__field.field
				input(type='text', name='phone', placeholder='Телефон', required)
				span.field__hint Телефон
				.field-error
			+button('Перезвоните мне', 'form__submit feedback__submit')(type='submit')