section.first-screen(style='background-image: url("img/first-screen.jpg")')
	include sidebar.pug
	.container.first-screen__container
		.first-screen__content
			.first-screen__title БЫСТРО ДЕЛАЕМ <br> РЕКЛАМУ И СУВЕНИРЫ
			.first-screen__subtitle В Иркутске и с доставкой <br> в другие города
			include form.pug
