section.first-screen
	video(autoplay loop muted playsinline)
		source(src='img/banner-video.webm' type='video/webm')
		source(src='img/banner-video.mp4' type='video/mp4')
	include sidebar.pug
	.container.first-screen__container
		.first-screen__content
			.first-screen__title БЫСТРО ДЕЛАЕМ <br> РЕКЛАМУ И СУВЕНИРЫ
			.first-screen__subtitle В Иркутске и с доставкой <br> в другие города
			include form.pug
