form.form.js-form-validate(action="php/mail.php", method="post")
	label.form__field.field
		input(type='text', name='phone', placeholder='Телефон', required)
		span.field__hint Телефон
		.field-error
	+button('Перезвоните мне', 'form__submit')(type='submit')