.menu
	ul.menu__list
		li
			a(href='#') Услуги и цены
			+dropdown-menu([
				[
					{href: '#', text: 'Контакты'},
					{href: '#', text: 'Услуга'},
					{href: '#', text: 'Услуга'},
					{href: '#', text: 'Услуга'}
				],
				[
					{href: '#', text: 'Реклама'},
					{href: '#', text: 'Услуга'},
					{href: '#', text: 'Услуга'},
					{href: '#', text: 'Услуга'},
					{href: '#', text: 'Услуга'}
				],
				[
					{href: '#', text: 'Светодиодная продукция'},
					{href: '#', text: 'Услуга'},
					{href: '#', text: 'Услуга'}
				],
				[
					{href: '#', text: 'Контакты'},
					{href: '#', text: 'Услуга'}
				]
			])
		li
			a(href='#') Контакты
