section.portfolio
	.portfolio__row
		.portfolio__item.portfolio__item--title
			.portfolio__item-title Примеры работ
		a.portfolio__item(href='img/portfolio/item-1.jpg', data-fancybox='gallery')
			img(src='img/portfolio/item-1.jpg', alt='')
		a.portfolio__item(href='img/portfolio/item-2.jpg', data-fancybox='gallery')
			img(src='img/portfolio/item-2.jpg', alt='')
		a.portfolio__item(href='img/portfolio/item-3.jpg', data-fancybox='gallery')
			img(src='img/portfolio/item-3.jpg', alt='')
		a.portfolio__item(href='img/portfolio/item-4.jpg', data-fancybox='gallery')
			img(src='img/portfolio/item-4.jpg', alt='')
		a.portfolio__item(href='img/portfolio/item-5.jpg', data-fancybox='gallery')
			img(src='img/portfolio/item-5.jpg', alt='')
		a.portfolio__item(href='img/portfolio/item-6.jpg', data-fancybox='gallery')
			img(src='img/portfolio/item-6.jpg', alt='')
		a.portfolio__item(href='img/portfolio/item-7.jpg', data-fancybox='gallery')
			img(src='img/portfolio/item-7.jpg', alt='')