section.price-list
	.container
		.price-list__title Цены
		table
			thead
				tr
					th Наименование
					th Цены
			tbody
				tr
					td Психологическая среда подсознательно
					td 123
				tr
					td Психологическая среда подсознательно
					td 456
				tr
					td Психологическая среда подсознательно
					td 789
				tr
					td Психологическая среда подсознательно
					td 123
				tr
					td Психологическая среда подсознательно
					td 456
				tr
					td Психологическая среда подсознательно
					td 789
				tr
					td Психологическая среда подсознательно
					td 123